<table>
  <thead>
    <tr>
      <th>
  <%= link_to 'Title', movies_path(sort: 'title', direction: (@sort_column == 'title' && @sort_direction == 'asc') ? 'desc' : 'asc'), method: :get %>
  <% if @sort_column == 'title' %>
    <%= @sort_direction == 'asc' ? '▲' : '▼' %>
  <% end %>
</th>
<th>
  <%= link_to 'Rating', movies_path(sort: 'rating', direction: @sort_column == 'rating' && @sort_direction == 'asc' ? 'desc' : 'asc'), method: :get %>
  <% if @sort_column == 'rating' %>
    <%= @sort_direction == 'asc' ? '▲' : '▼' %>
  <% end %>
</th>
<th>
  <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: @sort_column == 'release_date' && @sort_direction == 'asc' ? 'desc' : 'asc'), method: :get %>
  <% if @sort_column == 'release_date' %>
    <%= @sort_direction == 'asc' ? '▲' : '▼' %>
  <% end %>
</th>

    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Add new movie', new_movie_path , method: :get%>

